<app-header></app-header>
<div id="buy_back">
    <div class="container">
    <div class="my_m2b_head">
      <h2>Return Request</h2>
    </div>
    <div class="shipped_box" id>
        <div class="regular_lcd">
       <h5>Regular Replacement LCD's</h5>
    </div>
    <table class="table_box product_table">
        <thead>
            <tr>
                <th class=" title-text" scope="col">Product</th>
                <th class=" title-text">Quantity</th>
                <th class=" title-text">Details</th>
                <th class=" title-text">Total</th>
                <!-- <td class=" title-text">Action</td> -->
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="orderList['cart']">
            <ng-container *ngFor="let p of orderList['cart']; let x = index"> 
            <tr *ngIf="p.qty" >
                <td scope="col" class="pro_gap"><img width="40" height="40" class="pro_img " src="{{p.product.path}}" />Here{{p.product.product_name}}
                                <br>
                                <div class="order_attributes">
                                    <ng-container  *ngFor="let attr of p.attributes;let i = index;">
                                    <a *ngIf="attr.chosen">{{attr.chosen}}</a>
                                </ng-container>

                                </div>
                               
                                <span>{{p.sku.SKU_Name}}</span>

                            </td>
                            <td>
                                {{p.qty}}
                            </td>
                            <td id="qty_valuebox">
                                <input  type="button" value="-"  (click)="updateqty(x,'m')"/>
                                <input type="text" value="{{p.rqty}}" name=""/>
                                <input type="button" value="+" (click)="updateqty(x,'p')" />
                              </td>
                <td>${{p.qty * p.sku.SKU_Price}}</td>
            </tr>
        </ng-container>
        </ng-container>

        </tbody>
        </table>
        </div>

    <div class="send_request">

            <button type="button"  (click)="sendRequest()"> Send Request </button>

        </div>
</div>
</div>
