

<div class="seting_page">
    <div class="my_m2b_head">
        <div class="row">
            <div class="col-sm-12 category_list">
                <h2>Settings</h2>
            </div>
        </div>
   </div>

   <div class="setting_form">
            <div class="form-group">
            <label for="deduction">Enter Deduction (In Percentage)</label>
            <input id="deduction" class="form-control" [(ngModel)]="settongData.deduction" [value]="settongData.deduction " type="number" placeholder="Enter Deduction for Supplier in Percentage">
        </div>
        <button class="btn btn-lg btn-primary btn-block" (click)="onSave()">Save</button>
    </div>   
</div>