<div class="">
<div class="my_m2b_head">
        <div class="row">
            <div class="col-sm-8 category_list">
                <h2>Business</h2>
            </div>
            <div class="col-sm-4 addbtn_right">
                <a class="addBtn" [routerLink]="['/auth/options']" [queryParams]="{option:'Business'}"  ><i class="fa fa-plus"></i> Add</a>
            </div>
        </div>
        </div>


    <table class="table table-hover table_box">
            <thead>
                <tr>
                    <th scope="col">Business ID</th>
                    <th scope="col">Business Name</th>
                    <th scope="col">Business Email</th>
                    <th scope="col">Business Phone No</th>
                    <th scope="col">Option</th>
                    <th scope="col">Business Status</th>
                    <th scope="col">Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i = index;">
                    <td scope="row">{{i+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phoneNo}}</td>
                    <td>{{user.option}}</td>
                    <td align="center"><input style="width:20px;height:auto;" type="checkbox"></td>
                    <td>
                        <a class="edit_btn " [routerLink]="['edit-businesses']" [queryParams]="{ userId: user.key }"><i class="fa fa-pencil"></i> </a>
                        <a class="delbtn " (click)='deleteOneUser(user.key, user.email)'><i
                class="fa fa-trash-o"></i> </a>
                    </td>
                </tr>
            </tbody>
        </table>
</div>