<div class="">

    <div class="my_m2b_head">
        <div class="row">
            <div class="col-sm-8 category_list">
                <h2>Cashout Requests</h2>
            </div>
            <div class="col-sm-4 addbtn_right">
                <a class="addBtn" [routerLink]="['/auth/options']" [queryParams]="{option:'Business'}"  ><i class="fa fa-plus"></i> Add</a>
            </div>
        </div>
        </div>

    
    <table class="table table-hover table_box">
            <thead>
                <tr>
                    <th scope="col">Requests No.</th>
                    <th scope="col"></th>
                    <th scope="col">Total Price</th>
                    <th>Supplier Detail</th>
                    <th>Requests</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let order of requests; let i = index;">
                    <td scope="row">{{i+1}}</td>
                    <td>
                        <div *ngFor="let item of order.orderDetail; let i = index;" class="order-item">
                            <h6 style="text-align: center; font-weight: bold;">Order {{i+1}}</h6>
                            <div *ngFor="let prod of item">
                                <h6 style="margin-left:0.3rem">{{prod.productName}}</h6>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">SKU Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of prod.productSKU; let i = index;">
                                            <td scope="col" class="SKU-td">{{product.SKU_Name}}</td>
                                            <td scope="col" class="SKU-td">$ {{product.SKU_Price}}</td>
                                            <td scope="col" class="SKU-td">{{product.quantity}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </td>
                    <td style="padding: 2.5rem;">$ {{order.totalPrice}}

                    </td>
                    <td>
                        <ul style="list-style: none; padding-left: 0px;">
                            <li><strong>Name:</strong> {{user[i]?.name}}</li>
                            <li><strong>Email:</strong> {{user[i]?.email}}</li>
                            <li><strong>Contact No:</strong> {{user[i]?.phoneNo}}</li>
                        </ul>
                    </td>
                    <td>
                        <div *ngIf="order.requestApprove == '0'">
                            <a class="approved_btn" (click)="approveRequest(order.key)"> Approve</a>
                        </div>

                    </td>
                </tr>


            </tbody>
        </table>
</div>