<app-header previousAction="Chats" previousLink="/chat"></app-header>
<div class="container " id="message__box"> 
    <div class="" style="margin-top: 0px  !important; ">
        <div class="row m-0 p-0 position-relative">
            <div class="col-12 p-0 m-0 position-absolute" style="right: 0px;">
                <div class="card border-0 rounded main_scrollbar">

                    <div class="msger-header">

                        <div class="msger-header-title">
                            <img src="../../../assets/img/admin.png" />

                        <b> Live Support Chat <br> </b>
                        <span>online <i></i></span>
                        </div>


                    </div>

                    <div class="card bg-sohbet border-0 m-0 p-0 chatscroll" >
                        <div id="sohbet" class="card border-0 m-0 p-0 position-relative bg-transparent" #scrollMe>

                            <div *ngFor="let messages of chats;">
                                <div *ngFor="let message of messages.messages;">
                                    <div class="" [ngClass]="message.senderEmail === ownEmail? 'balon1':'balon2'">
                                        <a>{{message.message}}</a>
                                    </div><br>
                                    <div class="messages_info">
                                        <p class=" p-2 m-0 " [ngClass]="message.senderEmail === ownEmail? 'b1':'position-relative'">
                                            {{timeagos(+message.timeSent)}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class=" msger-inputarea" >
                            <form>
                                 <textarea placeholder="Type a message..." name="message" class="textarea" [(ngModel)]="message" (keydown)="handleSubmit($event)"></textarea>
                            
                            <button class="msger-send-btn" (click)="send()">Send</button>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>