<div class="bottom_bar">
  <ul>
    <li>
      <a href="#/">
        <i class="fa fa-home"></i>
        <b>Home</b>
      </a>
    </li>
    <li>
      <a href="#/mym2bBasic">
        <i class="fa fa-line-chart"></i>
        <b>My M2b</b>
      </a>
    </li>
    <li>
      <a href="#/chat">
        <i class="fa fa-envelope"></i>
        <b>Messages</b>
        <span *ngIf="ctot > 0">{{ctot}}</span>
      </a>
    </li>
    <li>
      <a href="#/myOrderList">
        <i class="fa fa-truck"></i>
        <b>Order</b>
         <span id="order_number" *ngIf="ocount > 0">{{ocount}}</span>
      </a>
    </li>
     <li>
      <a href="#/mym2bCredit">
        <i class="fa fa-money"></i>
        <b>Buy Back</b>
         <span>1</span>
      </a>
    </li> 
  </ul>
</div>

