<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<body scroll="no" >-->
<app-header *ngIf="isOrder" currentAction="Cart" currentLink="/basic-cart/final-cart?productId=review" previousAction="Log Out" previousLink="/home/products">
    
</app-header>
<app-header *ngIf="!isOrder" previousAction="Log Out " previousLink="/home/products"> Not here </app-header>
<div class="" >
  <div class="open_img" *ngIf="varImg">
    <button (click)="varImg = 0;">Close</button>
    <img src="{{varImg}}"/></div>


    <!-- status -->
<div class="status_wrap">
  <div class="container">
    <div class="row">
    <div class="col-sm-4 status_boxes">
      <h3 class="save_bg">Saved</h3>
    </div>
    <div class="col-sm-4 status_boxes">
      <h3 class="price_bg" *ngIf="credit">$ {{credit | number : '1.2-2'}}</h3>
      <h3 class="price_bg" *ngIf="!credit">$ 0.00</h3>
    </div>
    <div class="col-sm-4 status_boxes">
      <h3 class="status_bg">Status</h3>
    </div>
  </div>
  </div> 
</div>
<!-- brand --> 

<div class="brand_wrap">
  <div class="container">
    <ul class="tabs">
      <ng-container  *ngFor="let category of brands;let i = index;">
      <li class="tab-link apple_bg" [ngStyle]="{'background-color':category.bgcolor}"  (click)="selectedBrand = category.key;selectedCat = 0;selectedScat = 0; " data-tab="tab-1">
      <b>{{category.name}}</b>
      <i class="fa {{category.icon}} icon"></i>
      </li>
      </ng-container>
    </ul>
    <div id="tab-1" class="tab-content " style="display:block;" *ngIf="selectedBrand != 0">
      <div class="brand_list" >
        <ul>
          <ng-container  *ngFor="let category of categories;let i = index;">
          <li *ngIf="category.brand == selectedBrand && category.parent == 0" (click)="selectedCat = category.key;selectedScat = 0;">{{category.catName}}</li>
        </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
  <ng-container  *ngIf="selectedCat">
    <div class="model_category 123" style="display: block;">
  <div class="container">
    <div class="thumbnail_img">
      <ul>
        <ng-container  *ngFor="let product of categories;let i = index;">
        <li *ngIf="product.parent == selectedCat" (click)="select_scat(product.key)">
          <a>
            <img src="{{product.path}}" alt="">
            <b>{{product.catName}}</b>
          </a>
        </li>
      </ng-container>
        
       
      </ul>
    </div>
  </div>
</div>
</ng-container>
<!--variation part-->
<!--nrew design-->
<div class="model_wrap" id="new_design"  style="display:block;" *ngIf="selectedScat">
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let product of products; let pi = index">
      <div class="col-sm-3 product_thumbox"  *ngIf = " product.cat_id == selectedScat ">
        <div class="addto_cart_box">
          <h4>{{product.product_name}} </h4>
          <img src="{{ product.path }}" alt="">
          <div class="info_box" id="selected_variation">
            <ng-container *ngIf="product.attributes">
            <ng-container *ngFor="let attr of product.attributes; let ai = index">
              <ng-container *ngIf="product.attr_index == ai" >
              <ng-container *ngIf="ai"  (click)="product.attr_index = product.attr_index -1">
                <i (click)="product.attr_index = product.attr_index -1" class="fa fa-backward"></i>
              </ng-container>

                <ng-container *ngFor="let value of attr.values; let i = index"><!--for attribute-->
                  <ng-container *ngIf="value && checkstock(attr,pi,value,ai) > 0">

                    <a [ngClass]="{'active' : value == attr.chosen}"  (click)="selectattr1(attr,pi,value)">{{value}}</a>
                  </ng-container>
                  <ng-container *ngIf="value && checkstock(attr,pi,value,ai) == 0" Class="gray">
                    <a [ngClass]="{'active' : value == attr.chosen}" style="background-color:gray;color:#fff;"  >{{value }}</a>
                  </ng-container>
                  <!-- <button (click)="checkstock(attr,pi,value,ai,1)">Checking</button> -->
              </ng-container>
              </ng-container>
          </ng-container>
          </ng-container>
          <ng-container *ngIf="product.selectedAttr" >
            <ng-container *ngFor="let value of product.selectedAttr.values; let i = index"><!--for attribute-->
            <ng-container *ngIf="value != ''" >
              <a  (click)="selectattr(pi,product,product.selectedAttr.name, value)">{{value }}</a>
            </ng-container>
          </ng-container>
          </ng-container>
          </div>
          <ng-container *ngIf="!product.sku && !product.qty" >
          <b>${{product.min}}</b>
            </ng-container>
            <b *ngIf="product.price && product.qty">${{product.qty * product.price | number : '1.2-2'}} </b>

          <ng-container *ngIf="product.sku" >
            <div class="quantity_box_pos">
              <input class="qty-minus_pos minus_plus_pos"  *ngIf="product.sku" type="button" value="-"  (click)="product.qty = product.qty - 1;qtychange(pi);">
              <input type="number"  class="value_box_pos" [(ngModel)]="product.qty" value="{{product.qty}}" (change)="qtychange(pi)" name=""/>
              <input type="button"  value="+"  class="qty-plus_pos minus_plus_pos" *ngIf="product.sku" (click)="product.qty = product.qty + 1;qtychange(pi);" />
            </div>
          </ng-container>

           
              <ng-container *ngIf="product.sku" >
              <button type="button"(click) ="addcart(pi)">Add to Cart </button>
            </ng-container>
          
            
        </div>
      </div>
    </ng-container>
    </div>
  </div>
</div>
<!--nrew design-->
</div>
<app-footer></app-footer>
<!-- sub total -->
<div class="subtotal" id="to_scroll" (click)="checkout()" >
  <h3><img src="images/logo.png" alt=""> <a >Cart Subtotal: <span>${{tot | number : '1.2-2'}} </span></a></h3>
</div>